.background-decoration {
    display: block;
    position: absolute;
    height: calc(100%);
    width: calc(100%);
    top: 0px;
    left: 0px;
    object-fit: fill;

    &--fade {
        height: calc(100% + 4px);
        width: calc(100% + 4px);
    }

    &--dots {
        height: 100%;
        width: 140px;
    }

    &__part {
        position: absolute;
        top: 0;
        left: 0;
        width: 140px;
        height: 100%;

        &--left {

        }

        &--right {
            transform: rotate(180deg);
            right: 0;
            left: auto;
        }
    }
}