.chapter {
    position: relative;
    text-align: center;

    &--color-black {
        background-color: $color-chapter-black;
        color: $color-text;
    }

    &--color-red {
        background-color: $color-chapter-red;
        color: $color-text;
    }

    &--color-yellow {
        background-color: $color-chapter-yellow;
        color: $color-text-contrast;
    }

    &__content {
        position: relative;
        min-height: 360px;
        max-width: 400px;

        .chapter--align-left & {
            padding-right: 50px;

            @include mq-tablet {
                padding-right: 40%;
            }
        }

        .chapter--align-right & {
            padding-left: 50px;

            @include mq-tablet {
                padding-left: 40%;
            }
        }
    }

    &__text {
        font-size: 0.9em;
        line-height: 1.5;
    }

    &__bg-wrapper {
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .chapter--align-left & {
            //justify-content: flex-end;
            left: 120px;

            @include mq-tablet {
                left: 20%;
            }
        }

        .chapter--align-right & {
            //justify-content: flex-start;
            left: -120px;

            @include mq-tablet {
                left: -20%;
            }
        }

        .chapter--align-center & {
            justify-content: center;
            left: 0%;
        }
    }

    &__bg {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        max-width: 500px;

        .chapter--color-black & {
            fill: blue;
        }

    }

    &__bg-img {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__fade-wrapper {
        color: green;

        &--color-black {
            color: $color-chapter-black !important;
        }
    
        &--color-red {
            color: $color-chapter-red !important;
        }
    
        &--color-yellow {
            color: $color-chapter-yellow !important;
        }
    }
}