.chapter {
    position: relative;

    &__content {
        position: relative;
        min-height: 360px;
    }

    &__bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-color: red;
    }

    &__bg-img {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &__bg-fade {
        display: block;
        position: absolute;
        height: 100%;
        width: calc(100% + 2px);
        left: -2px;
    }

    
}